<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.journeyOS.plugins">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".settings.ui.PluginsSettingsActivity"
            android:excludeFromRecents="true"
            android:theme="@style/plugins_Settings">
            <intent-filter>
                <action android:name="com.journeyOS.plugins.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
